.about {
  padding-bottom: 4em;
  background-color: $main-color;
  &__box {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
    &__img {
      flex-basis: 90%;
      padding: 0.5em;
      width: 300px;
    }
    &__describe {
      flex-basis: 90%;
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &__title {
        margin: 1em 0;
        font-size: 1.8rem;
      }
      &__text {
        margin: 0 0 1em 0;
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 2em;
      }
    }
  }
}

@media (min-width: 768px) {
  .about {
    &__box {
      padding: 2em;
      align-items: flex-start;
      &__img {
        flex-basis: 50%;
        margin-bottom: 2em;
        padding: 0.5em;
      }
      &__describe {
        margin-left: 2em;
        flex-basis: 90%;
        padding: 0.5em;

        &__title {
          margin: 0 0 1em 0;
          font-size: 1.8rem;
        }
        &__text {
          font-size: 1.5rem;
          text-align: justify;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .about {
    &__box {
      justify-content: space-between;
      &__img {
        flex-basis: 40%;
        margin-bottom: unset;
      }
      &__describe {
        margin-right: 5em;
        flex-basis: 50%;
        &__text {
          text-align: left;
        }
      }
    }
  }
}
