$main-color: #ffffff;
$second-color: #000000;
$logo-color: rgb(63, 62, 62);
$option-text-color: rgb(112, 112, 112);
$option-icon-color: rgb(105, 105, 105);
$option-icon-greencolor: rgb(5, 226, 97);
$navdown-color: rgb(243, 243, 243);
$footer-color: rgb(243, 243, 243);
